  // Create the heading font sizes from h6 to h1
@mixin create-heading-type-scale($scale) {

    // Check the $scale value and store in a variable to be
    // used when calculating the font sizes.
    $the-heading-type-scale: check-type-scale-value($scale);
  
    // Starting from h6, multiply each previous value by the scale
    // to get the next font size
    $font-size-h6: $font-size-base;
    $font-size-h5: $font-size-h6 * $the-heading-type-scale;
    $font-size-h4: $font-size-h5 * $the-heading-type-scale;
    $font-size-h3: $font-size-h4 * $the-heading-type-scale;
    $font-size-h2: $font-size-h3 * $the-heading-type-scale;
    $font-size-h1: $font-size-h2 * $the-heading-type-scale;

    // Add the created font sizes to the elements and classes
    h1,
    .h1 {
      font-size: $font-size-h1;
    }
  
    h2,
    .h2 {
      font-size: $font-size-h2;
    }
  
    h3,
    .h3 {
      font-size: $font-size-h3;
    }
  
    h4,
    .h4 {
      font-size: $font-size-h4;
    }
  
    h5,
    .h5 {
      font-size: $font-size-h5;
    }
  
    h6,
    .h6 {
      font-size: $font-size-h6;
    }
  }