.pointer {
  cursor: pointer;
}

.t-xxl {
  font-size: 1.875rem;
}

.t-xl {
  font-size: 1.5rem;

}

.t-l {
  font-size: 1.25rem;
}

.t-s {
  font-size: 0.75rem;
}

.t-xs {
  font-size: 0.625rem;
}

.t-xxs {
  font-size: 0.5rem;
}

.primary {
  color: $brand-primary;
}

.secondary {
  color: $brand-secondary;
}

.text-right{
  text-align: right;
}