.address-finder {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    border: $form-border-width solid $form-border-color;
    border-radius: $form-border-radius;
    background-color: $form-bg;

    .address-text {
        border: none;
        width: 100%;
        color: $form-text;
        display: block;
        height: 40px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        box-shadow: none;
        border-radius: $form-border-radius;
        background-color: $form-bg;
        transition: border-color .15s ease-in-out;

        &:focus {
            outline: none;
            color: $dark;
        }
    }

    &.google-address-finder {
        .address-text {
            background-image: url('~@e9ine/vue_components/src/assets/google.png');
            background-repeat: no-repeat;
            background-position: left 0.875rem center;
            background-size: 1.5em;
            padding-left: 2.625rem;
        }
    }

    div.places-result {
        position: absolute;
        width: 100%;
        margin-top: 0.5rem;
        background: $form-bg;
        z-index: 100;
        border: $form-border-width solid $form-border-color;
        border-radius: $form-border-radius;
        padding-left: 0;
        list-style: none;

        .places-title {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            font-size: 0.875rem;
            font-weight: 700;

            .material-icons {
                margin-right: 0.25rem;
                font-size: 1.125rem;
            }
        }

        .saved-results {
            border-top: 1px solid $line-color;
        }

        .places-wrapper {
            max-height: 184px;
            overflow: auto;

            .place {
                display: block;
                padding: 0.5rem;
                border-bottom: $form-border-width solid $form-border-color;
                cursor: pointer;

                a {
                    width: 100%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.87rem;
                }

                .place-desc{
                    line-height: 1.3;
                    margin-bottom: 0;
                }

                &:last-child {
                    border-bottom: 0;
                    border-bottom-left-radius: $form-border-radius;
                    border-bottom-right-radius: $form-border-radius;
                }
                &:hover{
                    background-color: $light;
                }
            }
        }
    }
}