.address-finder {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    border: $form-border-width solid $form-border-color;
    border-radius: $form-border-radius;
    background-color: $form-bg;

    .address-text {
        border: none;
        width: 100%;
        color: $form-text;
        display: block;
        height: 40px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        box-shadow: none;
        border-radius: $form-border-radius;
        background-color: $form-bg;
        transition: border-color .15s ease-in-out;

        &:focus {
            outline: none;
            color: $dark;
        }
    }

    &.google-address-finder {
        .address-text {
            background-image: url('~@e9ine/vue_components/src/assets/google.png');
            background-repeat: no-repeat;
            background-position: left 0.875rem center;
            background-size: 1.5em;
            padding-left: 2.625rem;
        }
    }

    ul.places-result {
        position: absolute;
        width: 100%;
        margin-top: 0.5rem;
        background: $form-bg;
        z-index: 100;
        border: $form-border-width solid $form-border-color;
        border-radius: $form-border-radius;
        padding-left: 0;
        list-style: none;

        li {
            display: block;
            padding: 0.5rem;
            border-bottom: $form-border-width solid $form-border-color;

            a {
                width: 100%;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.87rem;
                cursor: pointer;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}