.avatar-group {
    margin-left: 1rem;
    display: inline-flex;

    .avatar {
        /deep/ .wrapper {
            border: 2px solid $white;
        }

        &.avatar-count {
            position: relative;
            z-index: 0;
            display: inline-block;

            .wrapper {
                border-radius: 50%;
                background: $grey !important;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 64px;
                    color: $white;
                }
            }
        }
    }
}