.badge-wrapper {
    position: relative;
    display: inline-block;
    .badge {
        height: 20px;
        min-width: 20px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        background: $success;
        color: $white;

        &.top-left {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }

        &.top-right {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }

        &.bottom-left {
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
        }

        &.bottom-right {
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%);
        }
    }
}