.chip {
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    width: auto;
    padding: 0.25rem 0.5rem;
    background-color: $chip-bg;
    color:$white;
    i {
        font-size: $chip-font-size;
        margin-left: 0.5rem;
        cursor: pointer;
    }
}