.tabbar {
    display: flex;
    padding: 0 $default-content-padding;
    border-top: $border-width solid $line-color;
    background-color: rgba(240, 240, 245, 0.95);
    height: $tabbar-height;
    backdrop-filter: blur(4px);

    #navigation {
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            height: 100%;

            li {
                list-style: none;
                flex-grow: 1;
                flex-basis: 0;
                text-align: center;

                a {
                    display: flex;
                    align-items: center;
                    color: $dark-grey;
                    justify-content: space-around;
                    height: 100%;

                    .menu-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .badge-wrapper {
                            display: block;
                        }

                        i {
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        span {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }

                    &.active {
                        color: $brand-primary !important;
                    }
                }
            }
        }
    }


    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        #navigation {
            ul {
                li {
                    a {
                        .menu-item {
                            display: block;

                            i {
                                display: block;
                                font-size: 18px;
                                margin-right: 0;
                            }

                            span {
                                display: block;
                                font-size: 10px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.offscreen-navigation {
    position: fixed;
    top: $mobile-topbar-height;
    left: 0;
    right: 0;
    background-color: $white;
    bottom: 0;

    .offscreen-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: $default-content-padding;

        li {

            a {
                .menu-item {
                    display: flex;
                    align-items: center;
                    color: $dark-grey;

                    .icon-left {
                        margin-right: 1rem;
                        color: $brand-primary;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-grow: 1;
                        margin-bottom: 0;
                        border-bottom: $border-width solid $line-color;
                        padding: 12px 12px 12px 0;

                        .badge-wrapper .badge.top-right {
                            transform: translate(80%, -80%);
                        }

                        .icon-right {
                            color: $grey;
                            font-size: 18px;
                        }
                    }

                }
            }
        }
    }
}