.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $topbar-bg;
    height: $topbar-height;
    padding: 0 $default-content-padding;

    &-page-title {
        font-size: $topbar-font-size;
        margin-bottom: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.align-center{
            text-align: center;
        }
    }

    &-logo {
        height: 80%;
        max-width: 100px;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .topbar-options {
        display: flex;
        align-items: center;
        margin-left: auto;

        .search-box {
            input {
                padding: .375rem .75rem;
                width: 275px;
                min-width: 185px;
                border: $border-width solid $line-color;
                border-radius: $form-border-radius;
                line-height: 1.5;
                font-size: 1rem;
                background-color: $light;
                background-image: url('../assets/search.svg');
                background-repeat: no-repeat;
                background-size: 1.5rem;
                background-position: right 0.75rem center;
                padding-right: 2.625rem;
                cursor: pointer;

                &:focus {
                    outline: none;
                    color: $dark;
                    border-color: $form-active;
                }
            }
        }

        .topbar-options-wrapper {
            display: flex;
            align-items: center;

            .topbar-option {
                margin-left: 2rem;
                line-height: 1;
                display: flex;
                align-items: center;
                white-space: nowrap;


                .topbar-option-icon {
                    color: $grey;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 2rem;
                    }

                    &:hover {
                        color: $dark-grey;
                    }
                }
            }
        }
    }

    .avatar-info {
        margin-left: 2rem;
        flex-shrink: 0;
    }

    @include media-breakpoint-down(md) {
        justify-content: center;

        .topbar-logo {
            &:not(.mobile-visible) {
                display: none;
            }
        }

        .topbar-page-title {
            &:not(.mobile-visible) {
                display: none;
            }
        }

        .topbar-options {
            .search-box {
                input {
                    &[readonly] {
                        width: 0;
                        min-width: 0;
                        border-color: transparent !important;
                        cursor: pointer;
                        background-color: unset;
                        margin-right: 0;
                        background-position: right 0 center;
                        background-size: 2rem;
                    }
                }

                &:not(.mobile-visible) {
                    display: none;
                }
            }

        }

        .avatar-info {
            .avatar-wrapper {
                margin-right: 0;
            }

            .info-wrapper {
                display: none;
            }

            .avatar-actions-wrapper {
                .avatar-actions-toggle {
                    margin-left: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .topbar-logo {
            margin-right: 1rem;
        }

        .topbar-page-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .topbar-options {
            .search-box {
                input {
                    width: 100%;
                }
            }

            .topbar-options-wrapper {
                .topbar-option {
                    margin-left: 1rem;

                    &:not(.mobile-visible) {
                        display: none;
                    }
                }
            }
        }

        .avatar-info {
            margin-left: 1rem;
        }
    }
}