.spacer-v{
    margin-bottom: 2rem;
}
.spacer-h{
    margin-right: 1rem;
}

.Active {
    background-color: #b2f2b1;
}

// $button-colors:map-merge($button-colors,(red:red));
// $button-colors:("red":red);

$button-colors:map-merge($button-colors,(red:red));
@import '@/scss/style';


@import '~bootstrap-4-grid/scss/grid';


